# LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.pdf
*.synctex.gz
*.blg
*.bbl
# Jupyter
.bak
.ipynb_checkpoints
.ipython
.jupyter
.local
.cache
.dotnet
.vscode-server
.vs/VSWorkspaceState.json
.vs/LearningFromNetworksProject/v17/.wsuo
.vs/LearningFromNetworksProject/v17/DocumentLayout.json
code/notebooks/.cache/matplotlib/fontlist-v390.json
code/notebooks/.bash_history
docs/report/report.toc
