# LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.pdf
*.synctex.gz
*.blg
*.bbl
# Jupyter
.ipynb_checkpoints
.ipython
.jupyter
.local
.vs/VSWorkspaceState.json
.vs/LearningFromNetworksProject/v17/.wsuo
.vs/LearningFromNetworksProject/v17/DocumentLayout.json
code/notebooks/.cache/matplotlib/fontlist-v390.json
